*{
	margin:0;
	padding:0;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
    padding:0;
    margin:0;
    font-weight:300;
    font-family:Lato;}
}


section, footer, header, aside, nav{
	display: block;
}

header, section {padding:5px 20px;}


section {overflow:hidden;}
.spot {float:left;margin:0 15px 15px 0;}
.spot p {font-weight:400;}

canvas {
    padding: -5% -5% -5% -5%;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}